html {
    padding: 0px;
    margin: 0px;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #fff;
    font-family: STHeiti;
}


.box {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    border-bottom: 2px solid #fef8ee;
}


.cell {
    padding: 5px;
    font-size: 12px;
    line-height:100%;
    text-align: left;
    border-bottom: 1px solid #e2e2e2;
}




.item_title {
    font-size: 16px;
    line-height: 130%;
    text-shadow: 0px 1px 0px #fff;
    width: 500px;
}
